<settings>
    <profiles>
        <profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <!-- Optional URL to server. Default value is http://localhost:9000 -->
                <sonar.host.url>
                  SONAR_HOST_URL
                </sonar.host.url>
            </properties>
        </profile>
     </profiles>
</settings>