<settings>
    <profiles>
        <profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <!-- Optional URL to server. Default value is http://localhost:9000 -->
                <sonar.host.url>SONAR_HOST_URL</sonar.host.url>
		<sonar.jdbc.url>SONAR_JDBC_URL</sonar.jdbc.url>
		<sonar.jdbc.username>SONAR_JDBC_USER</sonar.jdbc.username>
		<sonar.jdbc.password>SONAR_JDBC_PWD</sonar.jdbc.password>
		<sonar.sourceEnconding>UTF-8</sonar.sourceEnconding>
            </properties>
        </profile>
     </profiles>
</settings>